<div ng-show="loading" class="loading"><img src="assets/img/spinner-transparent.gif" class="loading-logo"></div>
<div ng-show="!loading">
    <div class="col-md-12">
        <h2>Competitor Issues</h2>
        <ul class="breadcrumb">
            <li>
                <p>Reports</p>
            </li>
            <li><a href="javascript:;" class="active">Competitor Issues</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4><span class="semi-bold">Competitor</span> Issues</h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a>  </div>
            </div>
            <div class="grid-body">
                <table datatable="" dt-options="Competitor.dtOptions" dt-columns="Competitor.dtColumns" class="table table-striped">
                    <thead>
                        <tr role="row">
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
<!--                        <tr ng-repeat="area in areas | filter: q as results" >
                            <td>{{area.id}}</td>
                            <td>{{area.name}}</td>
                            <td>{{area.region.name}}</td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>