<!DOCTYPE html>
<html>
    <head>
        <title>Dell Dashboard</title>
        <base href="/">
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN PLUGIN CSS -->
        <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="assets/plugins/bootstrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/bootstrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/animate.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" />
        <!-- END PLUGIN CSS -->
        <!-- BEGIN CORE CSS FRAMEWORK -->
        <link href="assets/plugins/bootstrap-tag/bootstrap-tagsinput.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/dropzone/css/dropzone.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css" />
        <!--<link href="assets/plugins/data-tables/DT_bootstrap.min.css" rel="stylesheet" type="text/css" />-->
        <link href="assets/plugins/angular-datatables/css/angular-datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/angular-datatables/plugins/bootstrap/datatables.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/bootstrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/bootstrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/ios-switch/ios7-switch.css" rel="stylesheet" type="text/css" media="screen">
        <link href="assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="assets/plugins/boostrap-clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="webarch/css/webarch.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/style.css" rel="stylesheet" />
        <link href="assets/css/stacktable.css" rel="stylesheet" />
        
        <!-- END CORE CSS FRAMEWORK -->
    </head>
    <body class="" ng-app="Dashboard" ng-controller="DashboardController" >
        <!-- BEGIN HEADER -->
    <dashboard-header></dashboard-header>
    <!-- END HEADER -->

    <!-- BEGIN CONTENT -->
    <div class="page-container row-fluid">
        <!-- BEGIN SIDEBAR -->
        <dashboard-sidebar></dashboard-sidebar>
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE CONTAINER-->
        <div class="page-content fill">
            <div class="content fill">
                <div ng-view class="fill"></div>
            </div>
        </div>
        <!-- END PAGE CONTAINER -->
        <!-- BEGIN CHAT -->
        <div class="chat-window-wrapper">
            <div id="main-chat-wrapper" class="inner-content" ng-controller="LoginController as login">
                <div class="chat-window-wrapper scroller scrollbar-dynamic" id="chat-users">
                    <!-- BEGIN GROUP WIDGET -->
                    <div class="side-widget">
                        <img src="assets/img/profiles/profile.png" alt="" data-src="assets/img/profiles/profile.png" data-src-retina="assets/img/profiles/avatar2x.jpg" width="100%" style="margin-top: -15px; margin-bottom: 15px;"/>
                        <div style="clear:both;"></div>
                        <center>
                            <h4 style="color:#FFF;">{{displayname}}</h4>
                        </center>
                        <div class="side-widget-title">Navigation</div>
                        <div class="side-widget-content">
                            <div id="groups-list">
                                <ul class="groups">
                                    <li>
                                        <a href="javascript:;">
                                            <i ng-click="login.logout()" class="fa fa-power-off"></i>&nbsp;&nbsp;Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END GROUP WIDGET -->

                </div>
                <!-- BEGIN DUMMY CHAT CONVERSATION -->
                <div class="chat-window-wrapper" id="messages-wrapper" style="display:none">
                    <!-- BEGIN CHAT HEADER BAR -->
                    <div class="chat-header">
                        <!-- BEGIN SEARCH BAR -->
                        <div class="pull-left">
                            <input type="text" placeholder="search">
                        </div>
                        <!-- END SEARCH BAR -->
                        <!-- BEGIN CLOSE TOGGLE -->
                        <div class="pull-right">
                            <a href="#" class="">
                                <div class="iconset top-settings-dark"></div>
                            </a>
                        </div>
                        <!-- END CLOSE TOGGLE -->
                    </div>
                    <div class="clearfix"></div>
                    <!-- END CHAT HEADER BAR -->
                    <!-- BEGIN CHAT BODY -->
                    <div class="chat-messages-header">
                        <div class="status online"></div>
                        <span class="semi-bold">Jane Smith(Typing..)</span>
                        <a href="#" class="chat-back"><i class="icon-custom-cross"></i></a>
                    </div>
                    <!-- BEGIN CHAT MESSAGES CONTAINER -->
                    <div class="chat-messages scrollbar-dynamic clearfix">
                        <!-- BEGIN TIME STAMP EXAMPLE -->
                        <div class="sent_time">Yesterday 11:25pm</div>
                        <!-- END TIME STAMP EXAMPLE -->
                        <!-- BEGIN EXAMPLE CHAT MESSAGE -->
                        <div class="user-details-wrapper">
                            <!-- BEGIN MESSENGER PROFILE -->
                            <div class="user-profile">
                                <img src="assets/img/profiles/d.jpg" alt="" data-src="assets/img/profiles/d.jpg" data-src-retina="assets/img/profiles/d2x.jpg" width="35" height="35">
                            </div>
                            <!-- END MESSENGER PROFILE -->
                            <!-- BEGIN MESSENGER MESSAGE -->
                            <div class="user-details">
                                <div class="bubble">Hello, You there?</div>
                            </div>
                            <!-- END MESSENGER MESSAGE -->
                            <div class="clearfix"></div>
                            <!-- BEGIN TIMESTAMP ON CLICK TOGGLE -->
                            <div class="sent_time off">Yesterday 11:25pm</div>
                            <!-- END TIMESTAMP ON CLICK TOGGLE -->
                        </div>
                        <!-- END EXAMPLE CHAT MESSAGE -->
                        <!-- BEGIN TIME STAMP EXAMPLE -->
                        <div class="sent_time">Today 11:25pm</div>
                        <!-- BEGIN TIME STAMP EXAMPLE -->
                        <!-- BEGIN EXAMPLE CHAT MESSAGE (FROM SELF) -->
                        <div class="user-details-wrapper pull-right">
                            <!-- BEGIN MESSENGER MESSAGE -->
                            <div class="user-details">
                                <div class="bubble sender">Let me know when you free</div>
                            </div>
                            <!-- END MESSENGER MESSAGE -->
                            <div class="clearfix"></div>
                            <!-- BEGIN TIMESTAMP ON CLICK TOGGLE -->
                            <div class="sent_time off">Sent On Tue, 2:45pm</div>
                            <!-- END TIMESTAMP ON CLICK TOGGLE -->
                        </div>
                        <!-- END EXAMPLE CHAT MESSAGE (FROM SELF) -->
                    </div>
                    <!-- END CHAT MESSAGES CONTAINER -->
                </div>
                <div class="chat-input-wrapper" style="display:none">
                    <textarea id="chat-message-input" rows="1" placeholder="Type your message"></textarea>
                </div>
                <div class="clearfix"></div>
                <!-- END DUMMY CHAT CONVERSATION -->
            </div>
        </div>
        <!-- END CHAT -->
    </div>
    <!-- END CONTENT -->
    <script src="assets/plugins/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
    <jquery-script bind="true"></jquery-script>
    <script src="assets/plugins/data-tables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="assets/js/angular.min.js" type="text/javascript"></script>
    <script src="assets/plugins/Angular-Paging-master/paging.min.js" type="text/javascript"></script>
    <script src="assets/plugins/angular-datatables/angular-datatables.min.js" type="text/javascript"></script>
    <script src="assets/plugins/angular-datatables/plugins/bootstrap/angular-datatables.bootstrap.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="assets/vendor/ngstorage/ngStorage.min.js"></script>
    <script src="assets/vendor/angular-jwt/dist/angular-jwt.min.js"></script>
    <script src="assets/plugins/bootstrapv3/js/bootstrap.min.js"></script>
    <script src="assets/plugins/chart.js/Chart.min.js"></script>
    <script src="assets/plugins/angular-chart/angular-chart.min.js"></script>
    <script src="assets/plugins/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="assets/js/app.js" type="text/javascript"></script>
    <!--Report Controllers-->
    <script src="assets/js/controllers/AbsenceController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/AbsenceSelfController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/CompetitorIssuesController.js" type="text/javascript"></script>    
    <script src="assets/js/controllers/SummarySelloutCamController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/SummaryMonthlySelloutCamController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/SummarySelloutRegionController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/SummaryMonthlySelloutRegionController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/SummarySelloutSKUController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/SummaryBestSKUController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/SummaryWorstSKUController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/SummaryInventoryCamController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/SummaryPOSMController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/SummarySKUPriceController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/DownloadAbsenceController.js" type="text/javascript"></script>
    <!--Visibilities/POSM Controllers-->
    <script src="assets/js/controllers/AddPOSMController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowsePOSMsController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowsePOSMInventoriesController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/DownloadPOSMInventoriesController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/EditPOSMsController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowseVisibilitiesController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/SearchVisibilityController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/DownloadVisibilitiesController.js" type="text/javascript"></script>
    <!--Stock Controllers-->
    <script src="assets/js/controllers/AddInventoryController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/UploadInventoryController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/DownloadInventoryController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowseInventoriesController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowseInventoriesSelfController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/SearchInventoryController.js" type="text/javascript"></script>
    <!--Sell In Controllers-->
    <script src="assets/js/controllers/SearchSellInController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/UploadSellInController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowseSellInController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/DownloadSellInController.js" type="text/javascript"></script>
    <!--Sell Out Controllers-->
    <script src="assets/js/controllers/CreateSellOutController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/UploadSellOutController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/DownloadSellOutController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/DownloadSellOutReportController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowseSellOutController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowseSellOutSelfController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/EditSellOutController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/SearchSellOutController.js" type="text/javascript"></script>
    <!--User Controller-->
    <script src="assets/js/controllers/AddCAMController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowseCAMsController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/DownloadCAMController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/EditCAMController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/AddUserController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/DownloadUserController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/UploadUserController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowseUsersController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/EditUsersController.js" type="text/javascript"></script>
    <!--Distributor Controllers-->
    <script src="assets/js/controllers/BrowseDistributorsController.js" type="text/javascript"></script>
    <!--Master Dealer Controllers-->
    <script src="assets/js/controllers/BrowseMasterDealersController.js" type="text/javascript"></script>
    <!--Store Controllers-->
    <script src="assets/js/controllers/AddStoreController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/UploadStoreController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowseStoresController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/DownloadStoreController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/EditStoresController.js" type="text/javascript"></script>
    <!--Area Controllers-->
    <script src="assets/js/controllers/AddAreaController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/UploadAreaController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowseAreasController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowseRegionsController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/DownloadAreasController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/DownloadRegionsController.js" type="text/javascript"></script>
    <!--Post Controllers-->
    <script src="assets/js/controllers/CreatePostController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowsePostsController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowseSinglePostController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowseCommentsController.js" type="text/javascript"></script>
    <!--Sell Kits Controllers-->
    <script src="assets/js/controllers/CreateSellKitController.js" type="text/javascript"></script>
    <script src="assets/js/controllers/BrowseSellKitsController.js" type="text/javascript"></script>
</body>
</html>