<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>Login to Dell</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="" name="description" />
        <meta content="" name="author" />






        <!-- BEGIN PLUGIN CSS -->
        <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="assets/plugins/bootstrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/bootstrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/animate.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css"/>
        <!-- END PLUGIN CSS -->
        <!-- BEGIN CORE CSS FRAMEWORK -->
        <link href="webarch/css/webarch.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
        <!-- END CORE CSS FRAMEWORK -->
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="error-body no-top lazy" ng-app="Dashboard" data-original="assets/img/work.jpg"  style="background-color: #444 !important"> 
        <div class="container">
            <div class="row login-container animated fadeInUp">
                <div class="col-md-7 col-md-offset-2 tiles white no-padding">
                    <div class="p-t-30 p-l-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-b-10">
                        <h2 class="normal">
                            Sign in to Dell Verificare
                        </h2>
                    </div>
                    <div class="tiles grey p-t-20 p-b-20 no-margin text-black tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab_login" >
                            <img ng-show="process" src="assets/img/spinner-transparent.gif" class="loading-logo-small center-block">
                            <form style="display: none;" ng-submit="login.validate(user)" ng-class="{'animated fadeIn validate form-show': true}" id="" name="" ng-controller="LoginController as login">
                                <div class='row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10'>
                                    <div class="control-group col-md-12 p-b-10" ng-show="error_message !== null">
                                        <p style="color: #e9ecee" ng-class="{'text-error large-text': error_message}">{{error_message}}</p>
                                        <!--style="color: #e9ecee"-->
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <input class="form-control" id="login_username" ng-model="user.username" name="login_username" placeholder="Username" type="text" required>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <input class="form-control" id="login_pass" ng-model="user.password" name="login_pass" placeholder="Password" type="password" required>
                                    </div>
                                </div>
                                <div class="row p-t-10 m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                                    <div class="control-group col-md-6">
                                    </div>
                                    <div class="control-group col-md-6">
                                        <div class="pull-right">
                                            <!--<img ng-show="process" src="assets/img/spinner-transparent.gif" class="loading-logo-small">-->
                                            <input id="submit" class="button" type="submit" value="Login">                                    
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTAINER -->
        <script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>  
        <!-- BEGIN JS DEPENDECENCIES--> 
        <script src="assets/plugins/jquery/jquery-1.11.3.min.js" type="text/javascript"></script> 
        <script src="assets/plugins/bootstrapv3/js/bootstrap.min.js" type="text/javascript"></script> 
        <script src="assets/plugins/jquery-block-ui/jqueryblockui.min.js" type="text/javascript"></script> 
        <script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script> 
        <script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js" type="text/javascript"></script>
        <script src="assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js" type="text/javascript"></script>
        <script src="assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="assets/plugins/bootstrap-select2/select2.min.js" type="text/javascript"></script>
        <!-- END CORE JS DEPENDECENCIES--> 
        <!-- BEGIN CORE TEMPLATE JS --> 
        <script src="webarch/js/webarch.js" type="text/javascript"></script> 
        <script src="assets/js/chat.js" type="text/javascript"></script> 
        <!-- END CORE TEMPLATE JS --> 
        <script src="assets/plugins/data-tables/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="assets/js/angular.min.js" type="text/javascript"></script>
        <script src="assets/plugins/Angular-Paging-master/paging.min.js" type="text/javascript"></script>
        <script src="assets/plugins/angular-datatables/angular-datatables.min.js" type="text/javascript"></script>
        <script src="assets/plugins/angular-datatables/plugins/bootstrap/angular-datatables.bootstrap.min.js" type="text/javascript"></script>
        <script src="assets/vendor/ngstorage/ngStorage.min.js"></script>
        <script src="assets/vendor/angular-jwt/dist/angular-jwt.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

        <script src="assets/plugins/chart.js/Chart.min.js"></script>
        <script src="assets/plugins/angular-chart/angular-chart.min.js"></script>
        <script src="assets/plugins/ng-file-upload/ng-file-upload.min.js"></script>

        <script src="assets/js/app.js" type="text/javascript"></script>

    </body>

</html>