<div>
    <div class="col-md-12">
        <h2>Add Store</h2>
        <ul class="breadcrumb">
            <li>
                <p>Stores</p>
            </li>
            <li><a href="javascript:;" class="active">Add Store</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Add <span class="semi-bold">Store</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
            </div>
            <div class="grid-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="grid simple">
                            <div class="grid-body no-border">
                                <div class="alert alert-block alert-success fade in" ng-show="success">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Success!</h4>
                                    <p> Store <a href="javascript:;" class="link">{{store_uid}}</a> has been created successfully </p>
                                    <div class="button-set">
                                        <button ng-click="reset()" class="btn btn-white btn-cons" type="button">Add Another</button>
                                    </div>
                                </div>
                                <div class="alert alert-block alert-danger fade in" ng-show="fail">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Uh oh!</h4>
                                    <p> An error has occurred, please try again later </p>
                                </div>
                                <form ng-submit="addStore()" id="form_traditional_validation" name="form_traditional_validation" role="form" autocomplete="off" class="validate" ng-show="waiting" novalidate>
                                    <div class="form-group">
                                        <label class="form-label">Store UID</label> <span class="help"></span>
                                        <input class="form-control" ng-model="store_uid" name="store_uid" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">City</label> <span class="help"></span>
                                        <div class=" right">
                                            <i class=""></i>
                                            <select class="form-control select2" ng-model="city" name="city" required>
                                                <option ng-repeat="city in cities| filter: q as results" value="{{city.id}}">
                                                    {{city.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Name</label> <span class="help"></span>
                                        <input class="form-control" ng-model="name" name="name" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Level</label>
                                        <div class=" right">
                                            <i class=""></i>
                                            <select class="form-control select2" ng-model="level" name="level" required>
                                                <option ng-repeat="(l,v) in levels" value="{{v}}">
                                                    {{l}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Address</label> <span class="help"></span>
                                        <input class="form-control" ng-model="address" name="address" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Phone</label> <span class="help">e.g. "+6281234567890"</span>
                                        <input class="form-control" ng-model="phone" name="phone" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Email</label> <span class="help">e.g. "user@gmail.com"</span>
                                        <input class="form-control" ng-model="email" name="email" type="email" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Store Building</label> <span class="help">e.g. "Grand Indonesia"</span>
                                        <input class="form-control" ng-model="store_building" name="store_building" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Store Category</label> <span class="help"></span>
                                        <div class=" right">
                                            <i class=""></i>
                                            <select class="form-control select2" ng-model="store_category" name="store_category" required>
                                                <option ng-repeat="(c,v) in storecats" value="{{v}}">
                                                    {{c}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Store Owner</label> <span class="help"></span>
                                        <input class="form-control" ng-model="store_owner" name="store_owner" type="text" required>
                                    </div>
                                    <div class="form-actions">
                                        <div class="pull-right">
                                            <img ng-show="process" src="assets/img/spinner-transparent.gif" class="loading-logo-small">
                                            <button class="btn btn-success btn-cons" id="submit" type="submit" ng-disabled="process"><i class="icon-ok"></i>Add Store</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>		
                </div>
            </div>
        </div>
    </div>