<div>
    <div class="col-md-12">
        <h2>Upload Store</h2>
        <ul class="breadcrumb">
            <li>
                <p>Stores</p>
            </li>
            <li><a href="javascript:;" class="active">Upload Store</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Upload <span class="semi-bold">Store</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a>  </div>
            </div>
            <div class="grid-body" >
                <div class="alert alert-block alert-success fade in"ng-show="success">
                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Success!</h4>
                    <p> Upload Successful </p>
                    <div class="button-set">
                        <button ng-click="reset()" class="btn btn-white btn-cons" type="button">Add Another</button>
                    </div>
                </div>
                <div class="alert alert-block alert-danger fade in" ng-show="fail">
                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Uh oh!</h4>
                    <p> {{errmsg}} </p>
                </div>
                <form name="form" ng-show="waiting">
                    <label for="file">Click or Drop the CSV below to upload</label>
                    <input ngf-select ng-model="file" id="file" name="file" ngf-pattern="'.csv'"
                           ngf-accept="'.csv'" ngf-max-size="20MB" ngf-min-height="100" 
                           ngf-resize="{width: 100, height: 100}" style="border: none; width: 100%" type="file">
                    <div class="pull-right">
                            <img ng-show="process" src="assets/img/spinner-transparent.gif" class="loading-logo-small">
                        <button type="submit" class="btn btn-success btn-cons" ng-click="submit()" ng-disabled="process">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>