<div>
    <div class="col-md-12">
        <h2>Edit POSM</h2>
        <ul class="breadcrumb">
            <li>
                <p>Visibilities</p>
            </li>
            <li><a href="javascript:;" class="active">Edit POSM</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Edit <span class="semi-bold">POSM</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
            </div>
            <div class="grid-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="grid simple">
                            <div class="grid-body no-border">
                                <div class="alert alert-block alert-success fade in" ng-show="success">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Success!</h4>
                                    <p> POSM <a href="javascript:;" class="link">{{name}}</a> has been edited successfully </p>
                                    <div class="button-set">
                                        <a href="visibilities/browse-posms"><button class="btn btn-success btn-cons" type="button">Browse POSM</button></a>
                                    </div>
                                </div>
                                <div class="alert alert-block alert-danger fade in" ng-show="fail">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Uh oh!</h4>
                                    <p> An error has occurred, please try again later </p>
                                </div>
                                <form ng-submit="editPOSM()" id="form_traditional_validation" name="form_traditional_validation" role="form" autocomplete="off" class="validate" ng-show="waiting" novalidate>
                                    <div class="form-group">
                                        <label class="form-label">ID</label> <span class="help"></span>
                                        <input class="form-control" ng-model="id" name="id" type="text" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Name</label> <span class="help"></span>
                                        <input class="form-control" ng-model="name" name="name" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Quantity</label> <span class="help"></span>
                                        <input class="form-control" ng-model="quantity" name="quantity" type="number" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Category</label> <span class="help">Previous Category is "{{prevcategory_name}}"</span>
                                        <div class=" right">
                                            <i class=""></i>
                                            <select class="form-control select2" ng-model="category" name="category" required>
                                                <option ng-repeat="(l,v) in categories" value="{{v}}">
                                                    {{l}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="pull-right">
                                            <img ng-show="process" src="assets/img/spinner-transparent.gif" class="loading-logo-small">
                                            <button class="btn btn-success btn-cons" id="submit" type="submit" ng-disabled="process"><i class="icon-ok"></i>Edit POSM</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>		
                </div>
            </div>
        </div>
    </div>