<div>
    <div class="col-md-12">
        <h2>Search Visibility</h2>
        <ul class="breadcrumb">
            <li>
                <p>Visibilities</p>
            </li>
            <li><a href="javascript:;" class="active">Search Visibility</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Search <span class="semi-bold">Visibility</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
            </div>
            <div class="grid-body">
                <div class="form-group">
                    <label class="form-label">Search by User ID and Store ID</label>
                </div>
                <div class="form-group">
                    <div class="pull-left col-md-5">
                        <select class="form-control select2" ng-model="user_id_filter" name="user_id_filter">
                            <option ng-repeat="user in users| filter: q as results" value="{{user.id}}">
                                {{user.id}} - {{user.username}}
                            </option>
                        </select>
                    </div>
                    <div class="pull-left col-md-5">
                        <select class="form-control select2" ng-model="store_id_filter" name="store_id_filter">
                            <option ng-repeat="store in stores| filter: q as results" value="{{store.id}}">
                                {{store.store_uid}} - {{store.name}}
                            </option>
                        </select>
                    </div>
                    <div class="pull-left col-md-2">
                        <a class="btn btn-success btn-cons" id="submit" ng-click="filterSearch()" ><i class="icon-ok"></i>Search</a>
                    </div>
                </div>
                <div class="customDTwrapper" ng-show="filtered">
                    <table datatable="" dt-options="Visibility.dtOptions" dt-columns="Visibility.dtColumns" class="table table-striped">
                        <thead>
                            <tr role="row">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>