<div>
    <div class="col-md-12">
        <h2>Create Sell Kit</h2>
        <ul class="breadcrumb">
            <li>
                <p>Sell Kits</p>
            </li>
            <li><a href="javascript:;" class="active">Create Sell Kit</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Create <span class="semi-bold">Sell Kit</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a>  </div>
            </div>
            <div class="grid-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="grid simple">
                            <div class="grid-body no-border">
                                <div class="alert alert-block alert-success fade in" ng-show="success">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Success!</h4>
                                    <p> Sell Kit <a href="javascript:;" class="link">{{name}}</a> has been created successfully </p>
                                    <div class="button-set">
                                        <a href="sell-kits/browse-sell-kits"><button class="btn btn-success btn-cons" type="button">Browse Sell Kits</button></a>
                                        <button ng-click="reset()" class="btn btn-white btn-cons" type="button">Add Another</button>
                                    </div>
                                </div>
                                <div class="alert alert-block alert-danger fade in" ng-show="fail">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Uh oh!</h4>
                                    <p> {{errmsg}} </p>
                                </div>
                                <form ng-submit="createSellKit()" id="form" name="form" role="form" autocomplete="off" class="validate" ng-show="waiting" novalidate>
                                    <div class="form-group">
                                        <label class="form-label">Name</label> 
                                        <input class="form-control" ng-model="name" name="name" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Description</label>
                                        <textarea class="form-control" ng-model="description" name="description" required></textarea>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="file">Click or Drop the File below</label> <span class="help">.doc or .pdf files are allowed</span>
                                        <input ngf-select ng-model="file" id="file" name="file" ngf-pattern="'.doc,.docx,.pdf'"
                                               ngf-accept="'.doc,.docx,.pdf'" style="border: none; width: 100%" type="file">
                                        <div class="pull-right">
                                            <img ng-show="process" src="assets/img/spinner-transparent.gif" class="loading-logo-small">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="form-label">Category</label>
                                        <div class=" right">
                                            <i class=""></i>
                                            <select class="form-control select2" ng-model="category" name="category" required>
                                                <option value="0">
                                                    Other
                                                </option>
                                                <option value="1">
                                                    Laptop
                                                </option>
                                                <option value="2">
                                                    Desktop
                                                </option>
                                                <option value="3">
                                                    Monitor
                                                </option>
                                                <option value="4">
                                                    Program Info
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="form-label">Family</label>
                                        <div class=" right">
                                            <i class=""></i>
                                            <select class="form-control select2" ng-model="family" name="family" required>
                                                <option value="0">
                                                    Other
                                                </option>
                                                <option ng-repeat="fam in families| filter: q as results" value="{{fam.id}}">
                                                    {{fam.name}}
                                                </option>                                                
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-actions">
                                        <div class="pull-right">
                                            <img ng-show="process" src="assets/img/spinner-transparent.gif" class="loading-logo-small">
                                            <button class="btn btn-success btn-cons" id="submit" type="submit" ng-disabled="process"><i class="icon-ok"></i>Create Sell Kit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>		
                </div>
            </div>
        </div>
    </div>