<div>
    <div class="col-md-12">
        <h2>Add Area</h2>
        <ul class="breadcrumb">
            <li>
                <p>Areas</p>
            </li>
            <li><a href="javascript:;" class="active">Add Area</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Add <span class="semi-bold">Area</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a>  </div>
            </div>
            <div class="grid-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="grid simple">
                            <div class="grid-body no-border">
                                <div class="alert alert-block alert-success fade in" ng-show="success">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Success!</h4>
                                    <p> <a href="javascript:;" class="link">{{cityname}}</a> has been created successfully </p>
                                    <div class="button-set">
                                        <a href="areas/browse-areas"><button class="btn btn-success btn-cons" type="button">Browse Areas</button></a>
                                        <button ng-click="reset()" class="btn btn-white btn-cons" type="button">Add Another</button>
                                    </div>
                                </div>
                                <div class="alert alert-block alert-danger fade in" ng-show="fail">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Uh oh!</h4>
                                    <p> An error has occurred, please try again later </p>
                                </div>
                                <form ng-submit="addArea()" id="form_traditional_validation" name="form_traditional_validation" role="form" autocomplete="off" class="validate" ng-show="waiting" novalidate>
                                    <div class="form-group">
                                        <label class="form-label">City</label> <span class="help">e.g. "Tangerang, Depok, Bandung"</span>
                                        <input class="form-control" ng-model="cityname" name="cityname" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Region</label>
                                        <div class=" right">
                                            <i class=""></i>
                                            <select class="form-control select2" ng-model="region" name="region" required>
                                                <option ng-repeat="region in regions| filter: q as results" value="{{region.id}}">
                                                    {{region.position}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="pull-right">
                                            <button class="btn btn-success btn-cons" id="submit" type="submit" ng-disabled="process"><i class="icon-ok"></i>Add Area</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>		
                </div>
            </div>
        </div>
    </div>