<!-- BEGIN MENU -->
<div class="page-sidebar" id="main-menu" ng-controller="SidebarController as sidebar">
    <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
        <!-- BEGIN SIDEBAR MENU -->
        <p class="menu-title">BROWSE</p>
        <ul>
            <!--Reports-->
            <li ng-class="{'open active': Data.parent === 'reports'}">
                <a href="javascript:;">
                    <i class="fa fa-reorder"></i>
                    <span class="title">Reports</span>
                    <span ng-class="{'arrow open': Data.parent === 'reports' , 'arrow': Data.parent != 'reports'}" class='arrow'></span>
                </a>
                <ul class="sub-menu">
                    <li ng-class="{'open active': Data.parent === 'reports'}">
                        <a href="javascript:;">
                            <span class="title">Summary</span>
                            <span ng-class="{'arrow open': Data.parent === 'reports' , 'arrow': Data.parent != 'reports'}" class='arrow'></span>
                        </a>
                        <ul class="sub-menu">
                            <li ng-class="{active: Data.link === 'summarycam' }"><a href="/reports/summary/sellout-per-area-manager">Sell out Per CAM</a></li>
                            <li ng-class="{active: Data.link === 'summarycammonthly' }"><a href="/reports/summary/sellout-per-area-manager-monthly">Monthly Sell out Per CAM</a></li>
                            <li ng-if="level === 'admin' || level === 'dashboard'" ng-class="{active: Data.link === 'summaryregion' }"><a href="/reports/summary/sellout-per-region">Sell out Per Region</a></li>
                            <li ng-if="level === 'admin' || level === 'dashboard'" ng-class="{active: Data.link === 'summaryregionmonthly' }"><a href="/reports/summary/sellout-per-region-monthly">Monthly Sell out Per Region</a></li>
                            <li ng-if="level === 'admin' || level === 'dashboard'" ng-class="{active: Data.link === 'summarysku' }"><a href="/reports/summary/sellout-per-sku">Sell out Per SKU</a></li>
                            <li ng-if="level === 'admin' || level === 'dashboard'" ng-class="{active: Data.link === 'summarysku' }"><a href="/reports/summary/sellout-per-sku-best">Top 10 Sell out Per SKU</a></li>
                            <li ng-if="level === 'admin' || level === 'dashboard'" ng-class="{active: Data.link === 'summarysku' }"><a href="/reports/summary/sellout-per-sku-worst">Worst 10 Sell out Per SKU</a></li>
                            <li ng-class="{active: Data.link === 'summaryinventorycam' }"><a href="/reports/summary/inventory-per-area-manager">Inventory Per CAM</a></li>
                            <li ng-if="level === 'admin' || level === 'dashboard'" ng-class="{active: Data.link === 'summaryposm' }"><a href="/reports/summary/promotional-item-recap">Promotional Item Recap</a></li>
                            <li ng-if="level === 'admin' || level === 'dashboard'" ng-class="{active: Data.link === 'skuprice' }"><a href="/reports/summary/sku-by-price-category">SKU by Price Category</a></li>
                        </ul>
                    </li>
                    <li ng-if="level === 'admin' || level === 'dashboard'" ng-class="{active: Data.link === 'absence' }"><a href="/reports/absence">Absences</a></li>
                    <li ng-if="level !== 'admin' && level !== 'dashboard'" ng-class="{active: Data.link === 'absence' }"><a href="/reports/my_absence">Absences</a></li>
                    <li ng-if="level === 'admin' || level === 'dashboard'" ng-class="{active: Data.link === 'downloadabsence' }"><a href="/reports/download-absence">Download Absences</a></li>
                    <li ng-if="level === 'admin' || level === 'dashboard'" ng-class="{active: Data.link === 'competitorissues' }"><a href="/reports/competitor-issues">Competitor Issues</a></li>
                </ul>
            </li>
            
             <!--Visibilities-->
            <li ng-if="level === 'admin' || level === 'dashboard'"  ng-class="{'open active': Data.parent === 'visibilities'}">
                <a href="javascript:;">
                    <i class="fa fa-image"></i>
                    <span class="title">Visibilities</span>
                    <span ng-class="{'arrow open': Data.parent === 'visibilities', 'arrow': Data.parent != 'visibilities' }" class='arrow'></span>
                </a>
                <ul class="sub-menu">
                    <li ng-if="level === 'admin'" ng-class="{active: Data.link === 'addposm'}"><a href="/visibilities/add-posm">Add POSM</a></li>
                    <li ng-class="{active: Data.link === 'browseposms'}"><a href="/visibilities/browse-posms">Browse POSMs</a></li>
                    <li ng-class="{active: Data.link === 'browseposminventories'}"><a href="/visibilities/browse-posm-inventories">Browse POSM Inventories</a></li>
                    <li ng-class="{active: Data.link === 'downloadposminventories'}"><a href="/visibilities/download-posm-inventories">Download POSM Inventories</a></li>
                    <li ng-class="{active: Data.link === 'browsevisibilities'}"><a href="/visibilities/browse-visibilities">Browse Visibilities</a></li>
                    <li ng-class="{active: Data.link === 'searchvisibility'}"><a href="/visibilities/search-visibility">Search Visibility</a></li>
                    <li ng-class="{active: Data.link === 'downloadvisibilities'}"><a href="/visibilities/download-visibilities">Download Visibilities</a></li>
                </ul>
            </li>
            
            <!--Sellins-->
            <li ng-if="level === 'admin' || level === 'dashboard'"  ng-class="{'open active': Data.parent === 'sellins'}">
                <a href="javascript:;">
                    <i class="fa fa-sign-in"></i>
                    <span class="title">Sell In</span>
                    <span ng-class="{'arrow open': Data.parent === 'sellins', 'arrow': Data.parent != 'sellins' }" class='arrow'></span>
                </a>
                <ul class="sub-menu">
                    <li ng-if="level === 'admin'" ng-class="{active: Data.link === 'uploadsellin'}"><a href="/sellins/upload-sell-in">Upload Sell In</a></li>
                    <li ng-class="{active: Data.link === 'browsesellins'}"><a href="/sellins/browse-sell-in">Browse Sell In</a></li>
                    <li ng-class="{active: Data.link === 'downloadsellin'}"><a href="/sellins/download-sell-in">Download Sell In</a></li>
                    <li ng-class="{active: Data.link === 'searchsellin'}"><a href="/sellins/search-sell-in">Search Sell In</a></li>
                </ul>
            </li>

            <!--Stocks-->
            <li ng-class="{'open active': Data.parent === 'stocks'}">
                <a href="javascript:;">
                    <i class="fa fa-tags"></i>
                    <span class="title">Stocks</span>
                    <span ng-class="{'arrow open': Data.parent === 'stocks', 'arrow': Data.parent != 'stocks' }" class='arrow'></span>
                </a>
                <ul ng-if="level === 'admin' || level === 'dashboard'" class="sub-menu">
                    <li ng-if="level === 'admin'" ng-class="{active: Data.link === 'addinventory'}"><a href="/stocks/add-inventory">Add Inventory</a></li>
                    <li ng-if="level === 'admin'" ng-class="{active: Data.link === 'uploadinventory'}"><a href="/stocks/upload-inventory">Upload Inventory</a></li>
                    <li ng-class="{active: Data.link === 'downloadinventory'}"><a href="/stocks/download-inventory">Download Inventory</a></li>
                    <li ng-class="{active: Data.link === 'browseinventories'}"><a href="/stocks/browse-inventories">Browse Inventories</a></li>
                    <li ng-class="{active: Data.link === 'searchinventory'}"><a href="/stocks/search-inventory">Search Inventory</a></li>
                </ul>
                <ul ng-if="level !== 'admin' && level !== 'dashboard'" class="sub-menu">
                    <li ng-class="{active: Data.link === 'browseinventories'}"><a href="/stocks/browse-inventories-self">Browse Inventories</a></li>
                    <li ng-class="{active: Data.link === 'searchinventory'}"><a href="/stocks/search-inventory">Search Inventory</a></li>
                </ul>
            </li>

            <!--Sellouts-->
            <li ng-class="{'open active': Data.parent === 'sellouts'}">
                <a href="javascript:;">
                    <i class="fa fa-sign-out"></i>
                    <span class="title">Sell out</span>
                    <span ng-class="{'arrow open': Data.parent === 'sellouts', 'arrow': Data.parent != 'sellouts' }" class='arrow'></span>
                </a>
                <ul ng-if="level === 'admin' || level === 'dashboard'" class="sub-menu">
                    <li ng-if="level === 'admin'" ng-class="{active: Data.link === 'createsellout'}"><a href="/sellouts/create-sell-out">Create Sellout</a></li>
                    <li ng-if="level === 'admin'" ng-class="{active: Data.link === 'uploadsellout'}"><a href="/sellouts/upload-sell-out">Upload Sell Out</a></li>
                    <li ng-class="{active: Data.link === 'downloadsellout'}"><a href="/sellouts/download-sell-out">Download Sell Out</a></li>
                    <li ng-class="{active: Data.link === 'downloadselloutreport'}"><a href="/sellouts/download-sell-out-report">Download Sell Out Report</a></li>
                    <li ng-class="{active: Data.link === 'browsesellouts'}"><a href="/sellouts/browse-sell-out">Browse Sellout</a></li>
                    <li ng-class="{active: Data.link === 'searchsellout'}"><a href="/sellouts/search-sell-out">Search Sell Out</a></li>
                </ul>
                <ul ng-if="level !== 'admin' && level !== 'dashboard'" class="sub-menu">
                    <li ng-class="{active: Data.link === 'browsesellouts'}"><a href="/sellouts/browse-sell-out-self">Browse Sellout</a></li>
                    <li ng-class="{active: Data.link === 'searchsellout'}"><a href="/sellouts/search-sell-out">Search Sell Out</a></li>
                </ul>
            </li>

            <!--Users-->
            <li ng-if="level === 'admin' || level === 'dashboard'" ng-class="{'open active': Data.parent === 'users'}">
                <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    <span class="title">Users</span>
                    <span ng-class="{'arrow open': Data.parent === 'users' , 'arrow': Data.parent != 'users'}" class='arrow'></span>
                </a>
                <ul class="sub-menu">
                    <li ng-if="level === 'admin'" ng-class="{active: Data.link === 'addcam'}"><a href="/users/add-cam">Add Channel Area Manager</a></li>
                    <li ng-class="{active: Data.link === 'browsecams'}"><a href="/users/browse-cams">Browse Channel Area Managers</a></li>
                    <li ng-class="{active: Data.link === 'downloadcam'}"><a href="/users/download-cam">Download Channel Area Manager</a></li>
                    <li ng-if="level === 'admin'" ng-class="{active: Data.link === 'adduser'}"><a href="/users/add-user">Add User</a></li>
                    <li ng-class="{active: Data.link === 'browseusers'}"><a href="/users/browse-users">Browse Users</a></li>
                    <li ng-class="{active: Data.link === 'downloaduser'}"><a href="/users/download-user">Download User</a></li>
                    <li ng-if="level === 'admin'" ng-class="{active: Data.link === 'uploaduser'}"><a href="/users/upload-user">Upload User</a></li>
                </ul>
            </li>

            <!--Stores-->
            <li ng-if="level === 'admin' || level === 'dashboard'" ng-class="{'open active': Data.parent === 'stores'}">
                <a href="javascript:;">
                    <i class="fa fa-hospital-o"></i>
                    <span class="title">Stores</span>
                    <span ng-class="{'arrow open': Data.parent === 'stores' , 'arrow': Data.parent != 'stores'}" class='arrow'></span>
                </a>
                <ul class="sub-menu">
                    <li ng-if="level === 'admin'" ng-class="{active: Data.link === 'addstore'}"><a href="/stores/add-store">Add Store</a></li>
                    <li ng-if="level === 'admin'" ng-class="{active: Data.link === 'uploadstore'}"><a href="/stores/upload-store">Upload Store</a></li>
                    <li ng-class="{active: Data.link === 'browsedistributors'}"><a href="/stores/browse-distributors">Browse Distributors</a></li>
                    <li ng-class="{active: Data.link === 'browsemasterdealers'}"><a href="/stores/browse-master-dealers">Browse Master Dealers</a></li>
                    <li ng-class="{active: Data.link === 'browsestores'}"><a href="/stores/browse-stores">Browse Stores</a></li>
                    <li ng-class="{active: Data.link === 'downloadstores'}"><a href="/stores/download-store">Download Store</a></li>
                </ul>
            </li>

            <!--Areas-->
            <li ng-if="level === 'admin' || level === 'dashboard'" ng-class="{'open active': Data.parent === 'areas'}">
                <a href="javascript:;">
                    <i class="fa fa-map-marker"></i>
                    <span class="title">Areas</span>
                    <span ng-class="{'arrow open': Data.parent === 'areas' , 'arrow': Data.parent != 'areas' }" class='arrow'></span>
                </a>
                <ul class="sub-menu">
                    <li ng-if="level === 'admin'" ng-class="{active: Data.link === 'addarea'}"><a href="/areas/add-area">Add Area</a></li>
                    <li ng-if="level === 'admin'" ng-class="{active: Data.link === 'uploadarea'}"><a href="/areas/upload-area">Upload Area</a></li>
                    <li ng-class="{active: Data.link === 'browseareas'}"><a href="/areas/browse-areas">Browse Areas</a></li>
                    <li ng-class="{active: Data.link === 'downloadareas'}"><a href="/areas/download-areas">Download Areas</a></li>
                    <li ng-class="{active: Data.link === 'browseregions'}"><a href="/areas/browse-regions">Browse Regions</a></li>
                    <li ng-class="{active: Data.link === 'downloadregions'}"><a href="/areas/download-regions">Download Regions</a></li>
                </ul>
            </li>
            
            <!--Post-->
            <li ng-if="level === 'admin' || level === 'dashboard'" ng-class="{'open active': Data.parent === 'posts'}">
                <a href="javascript:;">
                    <i class="fa fa-file-text-o"></i>
                    <span class="title">Posts</span>
                    <span ng-class="{'arrow open': Data.parent === 'posts' , 'arrow': Data.parent != 'posts' }" class='arrow'></span>
                </a>
                <ul class="sub-menu">
                    <li ng-if="level === 'admin'" ng-class="{active: Data.link === 'createpost'}"><a href="/posts/create-post">Create Post</a></li>
                    <li ng-class="{active: Data.link === 'browseposts'}"><a href="/posts/browse-posts">Browse Posts</a></li>
                    <li ng-class="{active: Data.link === 'browsecomments'}"><a href="/posts/browse-comments">Browse Comments</a></li>
                </ul>
            </li>
            
            <!--Sell-kit-->
            <li ng-if="level === 'admin' || level === 'dashboard'" ng-class="{'open active': Data.parent === 'sellkits'}">
                <a href="javascript:;">
                    <i class="fa fa-file-text-o"></i>
                    <span class="title">Sell Kits</span>
                    <span ng-class="{'arrow open': Data.parent === 'sellkits' , 'arrow': Data.parent != 'sellkits' }" class='arrow'></span>
                </a>
                <ul class="sub-menu">
                    <li ng-if="level === 'admin'" ng-class="{active: Data.link === 'createsellkit'}"><a href="/sell-kits/create-sell-kit">Create Sell Kit</a></li>
                    <li ng-class="{active: Data.link === 'browse-sell-kits'}"><a href="/sell-kits/browse-sell-kits">Browse Sell Kits</a></li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- BEGIN SCROLL UP HOVER -->
<a href="#" class="scrollup">Scroll</a>
