<div>
    <div class="col-md-12">
        <h2>Reports Summary</h2>
        <ul class="breadcrumb">
            <li>
                <p>Report</p>
            </li>
            <li><a href="javascript:;" class="active">Report Summary</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Summary</h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a>  </div>
            </div>
            <div class="grid-body">
                <div class="col-md-8">
                    <canvas id="bar" class="chart chart-bar"
                            chart-data="data" chart-labels="labels" chart-type="type"
                            chart-options="options">
                    </canvas>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Breakdown by Manager</label>
                        <div class=" right">
                            <i class=""></i>
                            <select class="form-control select2" ng-model="manager" name="region" required>
                                <option ng-repeat="manager in managers" value="{{manager.id}}">
                                    {{manager.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="pull-left">
                            <button class="btn btn-warning btn-cons" id="submit" type="submit" ng-disabled="process" ng-click="reset()"><i class="icon-ok"></i>Reset</button>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-success btn-cons" id="submit" type="submit" ng-disabled="process" ng-click="filterData()"><i class="icon-ok"></i>Select Manager</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>