<div>
    <div class="col-md-12">
        <h2>Reports Summary</h2>
        <ul class="breadcrumb">
            <li>
                <p>Reports</p>
            </li>
            <li><a href="javascript:;" class="active">Summary</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Inventory per Channel Area Manager</h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a>  </div>
            </div>
            <div class="grid-body">
                <div class="col-md-12 margin-bottom-10">
                    <div class="col-md-10">
                        <div class ="col-md-2">
                            <label class="form-label">From Quarter</label>
                            <select class="form-control select2" ng-model="quarter_from" name="quarter_from" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class ="col-md-2">
                            <label class="form-label">From Q Week</label>
                            <select class="form-control select2" ng-model="quarter_week_from" name="quarter_week_from" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                            </select>
                        </div>
                        <div class ="col-md-2">
                            <label class="form-label">From Q Year</label>
                            <select class="form-control select2" ng-model="quarter_year_from" name="quarter_year_from" required>
                                <option ng-repeat="qy in quarter_years" value="{{qy}}">
                                    {{qy}}
                                </option>
                            </select>
                        </div>
                        <div class ="col-md-2">
                            <label class="form-label">to Quarter</label>
                            <select class="form-control select2" ng-model="quarter_to" name="quarter_to" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class ="col-md-2">
                            <label class="form-label">to Q Week</label>
                            <select class="form-control select2" ng-model="quarter_week_to" name="quarter_week_to" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                            </select>
                        </div>
                        <div class ="col-md-2">
                            <label class="form-label">to Q Year</label>
                            <select class="form-control select2" ng-model="quarter_year_to" name="quarter_year_to" required>
                                <option ng-repeat="qy in quarter_years" value="{{qy}}">
                                    {{qy}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!--<div class="col-md-12 margin-top-10">-->
                    <div class="col-md-2">
                        <label class="form-label">Filter</label>
                        <button class="btn btn-success btn-cons pull-right" id="submit" type="submit" ng-disabled="process" ng-click="filterQuarter()"><i class="icon-ok"></i>Select</button>
                    </div>
                </div>
                
                <div class="col-md-8">
                    <canvas id="bar" class="chart chart-bar"
                            chart-data="data" chart-labels="labels" chart-type="type" chart-options="options">
                    </canvas>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Breakdown by Manager</label>
                        <div class=" right">
                            <i class=""></i>
                            <select class="form-control select2" ng-model="manager" name="region" required>
                                <option ng-repeat="manager in managers" value="{{manager.id}}">
                                    {{manager.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="pull-left">
                            <button class="btn btn-warning btn-cons" id="submit" type="submit" ng-disabled="process" ng-click="reset()"><i class="icon-ok"></i>Reset</button>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-success btn-cons" id="submit" type="submit" ng-disabled="process" ng-click="filterData()"><i class="icon-ok"></i>Select Manager</button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="table-responsive">          
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Label</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in tabledata.data">
                                    <td>{{ x.label}}</td>
                                    <td>{{ x.value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>