<div>
    <div class="col-md-12">
        <h2>Reports Summary</h2>
        <ul class="breadcrumb">
            <li>
                <p>Reports</p>
            </li>
            <li><a href="javascript:;" class="active">Summary</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Promotional Item Recap</h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a>  </div>
            </div>
            <div class="grid-body">
                <div class="col-md-12">
                    <canvas id="bar" class="chart chart-bar"
                            chart-data="data" chart-labels="labels" chart-type="type" chart-options="options">
                    </canvas>
                </div>
                
                <div class="col-md-12">
                    <div class="table-responsive">          
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Label</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in tabledata.data">
                                    <td>{{ x.label}}</td>
                                    <td>{{ x.value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>