<div>
    <div class="col-md-12">
        <h2>Reports Summary</h2>
        <ul class="breadcrumb">
            <li>
                <p>Reports</p>
            </li>
            <li><a href="javascript:;" class="active">Summary</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Monthly Sellout per Channel Area Manager</h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a>  </div>
            </div>
            <div class="grid-body">
                <div class="alert alert-block alert-warning fade in" ng-show="dataIsEmpty">
                    <button type="button" class="close" data-dismiss="alert"></button>
                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> No Data!</h4>
                    <p> No data is received from the server, no result to show. </p>
                    <div class="button-set">
                        <img ng-show="process" src="assets/img/spinner-transparent.gif" class="loading-logo-small">
                        <button ng-click="retry()" ng-disabled="process" class="btn btn-white btn-cons" type="button">Retry</button>
                    </div>
                </div>

                <div class="col-md-12 margin-bottom-10">
                    <div class="col-md-8">
                        <canvas id="bar" class="chart chart-bar"
                                chart-data="data" chart-labels="labels" chart-type="type" chart-options="options">
                        </canvas>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Breakdown by Month and Year(optional)</label>
                            <div class=" right">
                                <i class=""></i>
                                <div class="col-md-6 margin-bottom-20">
                                    <select class="form-control select2" ng-model="month" name="month" required>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">Decemer</option>
                                    </select>
                                </div>
                                <div class="col-md-6 margin-bottom-20">
                                    <select class="form-control select2" ng-model="year" name="year" required>
                                        <option ng-repeat="year in years" value="{{year}}">
                                            {{year}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="pull-left">
                                <button class="btn btn-warning btn-cons" id="submit" type="submit"ng-click="reset()"><i class="icon-ok"></i>Reset</button>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-success btn-cons" id="submit" type="submit" ng-disabled="!month" ng-click="filterData()"><i class="icon-ok"></i>Filter</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive">          
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Label</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in tabledata.data">
                                        <td>{{ x.label}}</td>
                                        <td>{{ x.value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>