.IoneTable{
    width: 100%;
}
.IoneTable thead tr{
    background-color: #1b1e24;
    background: rgb(18,23,33); /* browsers Lama */
    background: -moz-linear-gradient(top,  rgba(18,23,33,1) 0%, rgba(24,28,35,1) 44%, rgba(27,30,36,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(18,23,33,1) 0%,rgba(24,28,35,1) 44%,rgba(27,30,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(18,23,33,1) 0%,rgba(24,28,35,1) 44%,rgba(27,30,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121721', endColorstr='#1b1e24',GradientType=0 ); /* IE6-9 */
}
.IoneTable thead tr th{
    padding: 10px;
    color: #FFF !important;
}
.IoneTable tbody tr td{
    padding: 10px;
}
.IoneTable tbody tr:hover{
    background-color: #fbfdff !important;
}
.IoneTable tbody tr:nth-child(odd) {
    background-color: #eef4ff;
}
.IoneTable tbody tr:nth-child(even) {
    background-color: #f6f9ff;
}

.st-key { 
    background-color: #1b1e24;
    font-weight: bold;
    color: #FFF !important;
}

@media (min-width: 800px){
    tfoot tr{
        background-color: #eef4ff;
    }
    tfoot tr td{
        padding: 10px;
    }
}
@media (max-width: 800px){
    .stacktable.small-only {
        margin-bottom: 10px;
    }
}

/*Custom CSS*/

.loading{
    height: 100%;
    width:100%;
}

.loading-logo{
    margin:auto;
    top: 40%;
    position: absolute;
    left: 40%;
    max-height: 150px;
    max-width: 150px;
}

.loading-logo-small{
    max-height: inherit;
    max-width: 35px;
}

.fill{
    min-height: 100%;
    height: 100%;
}

.tableimg{
    max-height: 150px;
    max-width: 100px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.customDTwrapper{
    margin-top: 60px;
}

.blockquote{
    overflow-wrap: break-word;
}

.dataTables_wrapper{
    position : inherit;
}

.form-show{
    display: block  !important;
}