<div>
    <div class="col-md-12">
        <h2>Browse Sell In</h2>
        <ul class="breadcrumb">
            <li>
                <p>Stocks</p>
            </li>
            <li><a href="javascript:;" class="active">Browse Sell In</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Browse <span class="semi-bold">Sell In</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
            </div>
            <div class="grid-body">
                <div class="col-md-12" ng-hide="loading">
                    <paging
                        page="currentPage" 
                        page-size="pageSize" 
                        total="total"
                        show-prev-next="true"
                        show-first-last="true"
                        paging-action="changepage(page)">
                    </paging><br>
                    Showing the results of {{((page-1)*pageSize)+1}} to {{((page)*pageSize)}} from {{total}} results<br>
                </div>
                <table datatable="" dt-options="Sellin.dtOptions" dt-columns="Sellin.dtColumns" dt-instance="Sellin.dtInstance" class="table table-striped">
                    <thead>
                        <tr role="row">
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>