<div ng-show="loading" class="loading"><img src="assets/img/spinner-transparent.gif" class="loading-logo"></div>
<div ng-show="!loading">
    <div class="col-md-12">
        <h2>Absences</h2>
        <ul class="breadcrumb">
            <li>
                <p>Report</p>
            </li>
            <li><a href="javascript:;" class="active">Absences Report</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4><span class="semi-bold">Absences</span> Report</h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a>  </div>
            </div>
            <div class="col-md-12" ng-hide="loading">
                <paging
                    page="currentPage" 
                    page-size="pageSize" 
                    total="total"
                    show-prev-next="true"
                    show-first-last="true"
                    paging-action="changepage(page)">
                </paging><br>
                Showing the results of {{((page - 1) * pageSize) + 1}} to {{((page) * pageSize)}} from {{total}} results<br>
            </div>
            <div class="grid-body">
                Sort Absence Time via ID (Descending for latest first (Default), Ascending for earliest first)
                <table datatable="" dt-options="Absences.dtOptions" dt-columns="Absences.dtColumns" class="table table-striped">
                    <thead>
                        <tr role="row">
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>