<div>
    <div class="col-md-12">
        <h2>Add User</h2>
        <ul class="breadcrumb">
            <li>
                <p>Users</p>
            </li>
            <li><a href="javascript:;" class="active">Add User</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Add <span class="semi-bold">User</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
            </div>
            <div class="grid-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="grid simple">
                            <div class="grid-body no-border">
                                <div class="alert alert-block alert-success fade in" ng-show="success">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Success!</h4>
                                    <p> User <a href="javascript:;" class="link">{{username}}</a> has been created successfully </p>
                                    <div class="button-set">
                                        <a href="users/browse-users"><button class="btn btn-success btn-cons" type="button">Browse Users</button></a>
                                        <button ng-click="reset()" class="btn btn-white btn-cons" type="button">Add Another</button>
                                    </div>
                                </div>
                                <div class="alert alert-block alert-danger fade in" ng-show="fail">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Uh oh!</h4>
                                    <p> An error has occurred, please try again later </p>
                                </div>
                                <form ng-submit="addUser()" id="form_traditional_validation" name="form_traditional_validation" role="form" autocomplete="off" class="validate" ng-show="waiting" novalidate>
                                    <div class="form-group">
                                        <label class="form-label">Username</label> <span class="help">e.g. "user1", "manager2"</span>
                                        <input class="form-control" ng-model="username" name="username" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Password</label> <span class="help">suggested Aplhanumerical for security purpose </span>
                                        <input class="form-control" ng-model="password" name="password" type="password" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Level</label>
                                        <div class=" right">
                                            <i class=""></i>
                                            <select class="form-control select2" ng-model="level" name="level" required>
                                                <option ng-repeat="(l,v) in levels" value="{{v}}">
                                                    {{l}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Manager</label>
                                        <div class=" right">
                                            <i class=""></i>
                                            <select class="form-control select2" ng-model="manager" name="manager" required>
                                                <option ng-repeat="manager in managers| filter: q as results" value="{{manager.id}}">
                                                    {{manager.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Name</label> <span class="help"></span>
                                        <input class="form-control" ng-model="name" name="name" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Email</label> <span class="help">e.g. "user@gmail.com"</span>
                                        <input class="form-control" ng-model="email" name="email" type="email" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Phone</label> <span class="help">e.g. "+6281234567890"</span>
                                        <input class="form-control" ng-model="phone" name="phone" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Gender</label>
                                        <div class=" right">
                                            <i class=""></i>
                                            <select class="form-control select2" ng-model="gender" name="gender" required>
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                                <option value="0">Unspecified</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="pull-right">
                                            <img ng-show="process" src="assets/img/spinner-transparent.gif" class="loading-logo-small">
                                            <button class="btn btn-success btn-cons" id="submit" type="submit" ng-disabled="process"><i class="icon-ok"></i>Add User</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>		
                </div>
            </div>
        </div>
    </div>