<div>
    <div class="col-md-12">
        <h2>Add Channel Area Manager</h2>
        <ul class="breadcrumb">
            <li>
                <p>Users</p>
            </li>
            <li><a href="javascript:;" class="active">Add Channel Area Manager</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Add <span class="semi-bold">Channel Area Manager</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
            </div>
            <div class="grid-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="grid simple">
                            <div class="grid-body no-border">
                                <div class="alert alert-block alert-success fade in" ng-show="success">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Success!</h4>
                                    <p> Manager <a href="javascript:;" class="link">{{name}}</a> has been created successfully </p>
                                    <div class="button-set">
                                        <a href="users/browse-users"><button class="btn btn-success btn-cons" type="button">Browse Users</button></a>
                                        <button ng-click="reset()" class="btn btn-white btn-cons" type="button">Add Another</button>
                                    </div>
                                </div>
                                <div class="alert alert-block alert-danger fade in" ng-show="fail">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Uh oh!</h4>
                                    <p> An error has occurred, please try again later </p>
                                </div>
                                <form ng-submit="addCAM()" id="form_traditional_validation" name="form_traditional_validation" role="form" autocomplete="off" class="validate" ng-show="waiting" novalidate>
                                    <div class="form-group">
                                        <label class="form-label">Name</label> <span class="help"></span>
                                        <input class="form-control" ng-model="name" name="name" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Managers</label> <span class="help"> This is optional, can be left blank</span>
                                        <div class=" right">
                                            <i class=""></i>
                                            <select class="form-control select2" ng-model="parent_id" name="parent_id" required>
                                                <option ng-repeat="m in managers| filter: q as results" value="{{m.id}}">
                                                    {{m.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="pull-right">
                                            <img ng-show="process" src="assets/img/spinner-transparent.gif" class="loading-logo-small">
                                            <button class="btn btn-success btn-cons" id="submit" type="submit" ng-disabled="process"><i class="icon-ok"></i>Add Manager</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>		
                </div>
            </div>
        </div>
    </div>