<div>
    <div class="col-md-12">
        <h2>Download Channel Area Manager</h2>
        <ul class="breadcrumb">
            <li>
                <p>Users</p>
            </li>
            <li><a href="javascript:;" class="active">Download Channel Area Manager</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Download <span class="semi-bold">Channel Area Manager</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a>  </div>
            </div>
            <div class="grid-body" >
                <div class="alert alert-block alert-success fade in"ng-show="success">
                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Success!</h4>
                    <p> Download In Progress </p>
                </div>
                <div class="alert alert-block alert-danger fade in" ng-show="fail">
                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Uh oh!</h4>
                    <p> {{errmsg}} </p>
                </div>
                <form name="form" >
                    <div class="pull-left">
                            <img ng-show="process" src="assets/img/spinner-transparent.gif" class="loading-logo-small">
                        <button type="submit" class="btn btn-success btn-cons" ng-click="download()" ng-disabled="process">Download CSV</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>