<div>
    <div class="col-md-12">
        <h2>Browse Posts</h2>
        <ul class="breadcrumb">
            <li>
                <p>Posts</p>
            </li>
            <li><a href="javascript:;" class="active">Browse Posts</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Browse <span class="semi-bold">Posts</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a>  </div>
            </div>
            <div class="grid-body">
                <div class="form-group">
                    <label class="form-label h1">{{title}}</label>
                    <label class="form-label help-inline small">Created by {{username}}</label>
                </div>
                <div class="form-group">
                    <pre>{{content}}</pre>
                </div>
                <br>
                <div class="form-group">
                    <label class="form-label help-inline h4">Comments</label>
                    <div class="col-md-12">
                        <input class="form-control" ng-model="newtitle" name="newtitle" type="text" placeholder="Comment Title">
                        <textarea class="form-control margin-top-10" ng-model="newcomment" name="newcomment" placeholder="Comment Content"></textarea>
                        <div class="col-md-12 pull-right margin-top-10">
                            <img ng-show="process" src="assets/img/spinner-transparent.gif" class="loading-logo-small  pull-right">
                            <button type="submit" class="btn btn-success btn-cons  pull-right" ng-click="addComment()" ng-disabled="process">Add New Comment</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <blockquote class="blockquote" ng-repeat="comment in comments">
                            <p style='font-size: 11px'><b style="font-size: 18px">{{comment.title}}</b> by {{comment.user_id}}</p>
                            <p>{{comment.content}}</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>