<div>
    <div class="col-md-12">
        <h2>Browse Comments</h2>
        <ul class="breadcrumb">
            <li>
                <p>Posts</p>
            </li>
            <li><a href="javascript:;" class="active">Browse Comments</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Browse <span class="semi-bold">Comments</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a>  </div>
            </div>
            <div class="grid-body">
                <table datatable="" dt-options="Comments.dtOptions" dt-columns="Comments.dtColumns" class="table table-striped">
                    <thead>
                        <tr role="row">
                            <th></th> 
                            <th></th> 
                            <th></th> 
                            <th></th> 
                            <th></th> 
                            <th></th> 
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>