<div>
    <div class="col-md-12">
        <h2>Create Post</h2>
        <ul class="breadcrumb">
            <li>
                <p>Posts</p>
            </li>
            <li><a href="javascript:;" class="active">Create Post</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Create <span class="semi-bold">Post</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
            </div>
            <div class="grid-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="grid simple">
                            <div class="grid-body no-border">
                                <div class="alert alert-block alert-success fade in" ng-show="success">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Success!</h4>
                                    <p> Post <a href="javascript:;" class="link">{{title}}</a> has been created successfully </p>
                                    <div class="button-set">
                                        <!--<a href="users/browse-users"><button class="btn btn-success btn-cons" type="button">Browse Users</button></a>-->
                                        <button ng-click="reset()" class="btn btn-white btn-cons" type="button">Add Another</button>
                                    </div>
                                </div>
                                <div class="alert alert-block alert-danger fade in" ng-show="fail">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Uh oh!</h4>
                                    <p> An error has occurred, please try again later </p>
                                </div>
                                <form ng-submit="createPost()" id="form_traditional_validation" name="form_traditional_validation" role="form" autocomplete="off" class="validate" ng-show="waiting" novalidate>
                                    <div class="form-group">
                                        <label class="form-label">Title</label> <span class="help"></span>
                                        <input class="form-control" ng-model="title" name="title" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Content</label>
                                        <textarea class="form-control" ng-model="content" name="content" required></textarea>
                                    </div>
                                    <div class="form-actions">
                                        <div class="pull-right">
                                            <button class="btn btn-success btn-cons" id="submit" type="submit" ng-disabled="process"><i class="icon-ok"></i>Create Post</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>		
                </div>
            </div>
        </div>
    </div>