<div>
    <div class="col-md-12">
        <h2>Download Sell Out</h2>
        <ul class="breadcrumb">
            <li>
                <p>Sell Out</p>
            </li>
            <li><a href="javascript:;" class="active">Download Sell Out</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Download <span class="semi-bold">Sell Out</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a>  </div>
            </div>
            <div class="grid-body" >
                <div class="alert alert-block alert-success fade in"ng-show="success">
                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Success!</h4>
                    <p> Download In Progress </p>
                </div>
                <div class="alert alert-block alert-danger fade in" ng-show="fail">
                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Uh oh!</h4>
                    <p> {{errmsg}} </p>
                </div>
                <form name="form" >
                    <div class="pull-left col-md-4">
                        <label class="form-label"><b>From</b></label> 
                        <label class="form-label">Quarter</label>
                        <input class="form-control" ng-model="quarter_from" name="quarter_from" type="number" placeholder=" 1 - 4 ">
                        <label class="form-label">Quarter Week</label>
                        <input class="form-control" ng-model="quarter_week_from" name="quarter_week_from" type="number" placeholder=" 1 - 13 ">
                        <label class="form-label">Quarter Year</label> 
                        <input class="form-control" ng-model="quarter_year_from" name="quarter_year_from" type="number" placeholder="> 2012">
                    </div>
                    <div class="pull-left col-md-4">
                        <label class="form-label"><b>To</b></label> 
                        <label class="form-label">Quarter</label>
                        <input class="form-control" ng-model="quarter_to" name="quarter_to" type="number" placeholder=" 1 - 4 ">
                        <label class="form-label">Quarter Week</label>
                        <input class="form-control" ng-model="quarter_week_to" name="quarter_week_to" type="number" placeholder=" 1 - 13 ">
                        <label class="form-label">Quarter Year</label> 
                        <input class="form-control" ng-model="quarter_year_to" name="quarter_year_to" type="number" placeholder="> 2012">
                    </div>
                    <div class="pull-right col-md-3">
                        <label class="form-label">Download</label>
                            <img ng-show="process" src="assets/img/spinner-transparent.gif" class="loading-logo-small">
                        <button type="submit" class="btn btn-success btn-cons" ng-click="download()" ng-disabled="process">Download CSV</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>