<div>
    <div class="col-md-12">
        <h2>Edit Sellout</h2>
        <ul class="breadcrumb">
            <li>
                <p>Sellouts</p>
            </li>
            <li><a href="javascript:;" class="active">Edit Sellout</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Edit <span class="semi-bold">Sellout</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a>  </div>
            </div>
            <div class="grid-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="grid simple">
                            <div class="grid-body no-border">
                                <div class="alert alert-block alert-success fade in" ng-show="success">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Success!</h4>
                                    <p> Sellout for service tag <a href="javascript:;" class="link">{{servtag}}</a> has been edited successfully </p>
                                </div>
                                <div class="alert alert-block alert-danger fade in" ng-show="fail">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Uh oh!</h4>
                                    <p> {{errmsg}} </p>
                                </div>
                                <form ng-submit="editSellout()" id="form" name="form" role="form" autocomplete="off" class="validate" novalidate>
                                    <div class="form-group">
                                        <label class="form-label">Previous Proof</label> <span class="help"></span>
                                    </div>
                                    <div class="form-group">
                                        <img src='{{url}}' alt='Proof image'></img>
                                    </div>

                                    <div class="form-group">
                                        <label for="file">Click or Drop the Photo below</label>
                                        <input ngf-select ng-model="file" id="file" name="file" ngf-pattern="'image/*'"
                                               ngf-accept="'.jpeg,.jpg,.gif,.png'" ngf-max-size="1MB" style="border: none; width: 100%" type="file">
                                        <div class="pull-right">
                                            <img ng-show="process" src="assets/img/spinner-transparent.gif" class="loading-logo-small">
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="pull-right">
                                            <img ng-show="process" src="assets/img/spinner-transparent.gif" class="loading-logo-small">
                                            <button class="btn btn-success btn-cons" id="submit" type="submit" ng-disabled="process"><i class="icon-ok"></i>Edit Sellout</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>		
                </div>
            </div>
        </div>
    </div>