<div>
    <div class="col-md-12">
        <h2>Add Inventory</h2>
        <ul class="breadcrumb">
            <li>
                <p>Inventories</p>
            </li>
            <li><a href="javascript:;" class="active">Add Inventory</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Add <span class="semi-bold">Inventory</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a>  </div>
            </div>
            <div class="grid-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="grid simple">
                            <div class="grid-body no-border">
                                <div class="alert alert-block alert-success fade in" ng-show="success">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Success!</h4>
                                    <p>Inventory for service tag <a href="javascript:;" class="link">{{servtag}}</a> has been created successfully </p>
                                    <div class="button-set">
                                        <!--<a href="areas/browse-areas"><button class="btn btn-success btn-cons" type="button">Browse Areas</button></a>-->
                                        <button ng-click="reset()" class="btn btn-white btn-cons" type="button">Add Another</button>
                                    </div>
                                </div>
                                <div class="alert alert-block alert-danger fade in" ng-show="fail">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4 class="alert-heading"><i class="icon-warning-sign"></i> Uh oh!</h4>
                                    <p> {{errmsg}} </p>
                                </div>
                                <form ng-submit="addInventory()" id="form" name="form" role="form" autocomplete="off" class="validate" ng-show="waiting" novalidate>
                                    <div class="form-group">
                                        <label class="form-label">Service Tag</label> <span class="help"></span>
                                        <input class="form-control" ng-model="servtag" name="servtag" type="text" required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="form-label">Store ID</label>
                                        <div class=" right">
                                            <i class=""></i>
                                            <select class="form-control select2" ng-model="store_id" name="store_id" required>
                                                <option ng-repeat="store in stores| filter: q as results" value="{{store.id}}">
                                                    {{store.store_uid}} - {{store.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Added by</label>
                                        <div class=" right">
                                            <i class=""></i>
                                            <select class="form-control select2" ng-model="added_by" name="added_by" required>
                                                <option ng-repeat="user in users| filter: q as results" value="{{user.id}}">
                                                    {{user.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="pull-right">
                                            <img ng-show="process" src="assets/img/spinner-transparent.gif" class="loading-logo-small">
                                            <button class="btn btn-success btn-cons" id="submit" type="submit" ng-disabled="process"><i class="icon-ok"></i>Create Sellout</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>		
                </div>
            </div>
        </div>
    </div>