<div>
    <div class="col-md-12">
        <h2>Browse Inventories</h2>
        <ul class="breadcrumb">
            <li>
                <p>Stocks</p>
            </li>
            <li><a href="javascript:;" class="active">Browse Inventories</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Browse <span class="semi-bold">Inventories</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
            </div>
                <div class="col-md-12" ng-hide="loading">
                    <paging
                        page="currentPage" 
                        page-size="pageSize" 
                        total="total"
                        show-prev-next="true"
                        show-first-last="true"
                        paging-action="changepage(page)">
                    </paging><br>
                    Showing the results of {{((page - 1) * pageSize) + 1}} to {{((page) * pageSize)}} from {{total}} results<br>
                </div>
                <div class="grid-body">
                    <table datatable="" dt-options="Inventories.dtOptions" dt-columns="Inventories.dtColumns" dt-instance="Inventories.dtInstance" class="table table-striped">
                        <thead>
                            <tr role="row">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>