<div>
    <div class="col-md-12">
        <h2>Search Inventory</h2>
        <ul class="breadcrumb">
            <li>
                <p>Stocks</p>
            </li>
            <li><a href="javascript:;" class="active">Search Inventory</a> </li>
        </ul>

        <div class="grid simple">
            <div class="grid-title">
                <h4>Search <span class="semi-bold">Inventory</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
            </div>
            <div class="grid-body">
                <div class="form-group">
                    <label class="form-label">Search by Service Tag</label> <span class="help">e.g. "4TB8J52" or "4TB"</span>
                    <div class="pull-left col-md-10">
                        <input class="form-control" ng-model="service_tag_filter" name="service_tag_filter" type="text" placeholder="Search Service Tag">
                    </div>
                    <div class="pull-left col-md-2">
                        <a class="btn btn-success btn-cons" id="submit" ng-click="filterSearch()" ng-disabled="process"><i class="icon-ok"></i>Search</a>
                    </div>
                </div>
                <div ng-show="filtered">
                    <table datatable="" dt-options="Servtag.dtOptions" dt-columns="Servtag.dtColumns" class="table table-striped">
                        <thead>
                            <tr role="row">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>