<div class="header navbar navbar-inverse">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
        <!-- BEGIN NAVIGATION HEADER -->
        <div class="header-seperation">
            <!-- BEGIN MOBILE HEADER -->
            <ul class="nav pull-left notifcation-center visible-xs visible-sm">
                <li class="dropdown">
                    <a href="#main-menu" data-webarch="toggle-left-side">
                        <div class="iconset top-menu-toggle-white"></div>
                    </a>
                </li>
            </ul>
            <!-- END MOBILE HEADER -->

            <!-- BEGIN LOGO -->
            <a href="dashboard">
                <img src="assets/img/logo.png" class="logo" alt="" data-src="assets/img/logo.png" data-src-retina="assets/img/logo2x.png" width="35" height="35" />
            </a>
            <!-- END LOGO -->

            <!-- BEGIN LOGO NAV BUTTONS -->
            <ul class="nav pull-right notifcation-center">
                <li class="dropdown hidden-xs hidden-sm">
                    <a href="main.html" class="dropdown-toggle active" data-toggle="">
                        <div class="iconset top-home"></div>
                    </a>
                </li>
                <li class="dropdown visible-xs visible-sm">
                    <a href="dashboard" data-webarch="toggle-right-side">
                        <div class="iconset top-chat-white "></div>
                    </a>
                </li>
            </ul>
            <!-- END LOGO NAV BUTTONS -->
        </div>
        <!-- END NAVIGATION HEADER -->

        <!-- BEGIN CONTENT HEADER -->
        <div class="header-quick-nav">
            <!-- BEGIN HEADER LEFT SIDE SECTION -->
            <div class="pull-left">
                <!-- BEGIN SLIM NAVIGATION TOGGLE -->
                <ul class="nav quick-section">
                    <li class="quicklinks">
                        <a href="javascript:;" class="" id="layout-condensed-toggle">
                            <div class="iconset top-menu-toggle-dark"></div>
                        </a>
                    </li>
                </ul>
                <!-- END SLIM NAVIGATION TOGGLE -->

            </div>
            <!-- END HEADER LEFT SIDE SECTION -->
            <!-- BEGIN HEADER RIGHT SIDE SECTION -->
            <div class="pull-right" ng-controller="LoginController as login">

                <!-- BEGIN HEADER NAV BUTTONS -->
                <ul class="nav quick-section">
                    <li class="quicklinks"><span class="bold">{{displayname}}</span></li>
                    <li class="quicklinks"><span class="h-seperate"></span></li>
                    <!-- BEGIN CHAT SIDEBAR TOGGLE -->
                    <li class="quicklinks"style="
                        margin-top: -10px;
                        ">
                        <a data-toggle="dropdown" class="dropdown-toggle pull-right" href="javascript:;" id="user-options">
                            <div class="profile-pic">
                                <img src="assets/img/profiles/avatar_small.jpg" alt="" data-src="assets/img/profiles/profile.png" data-src-retina="assets/img/profiles/profile.png" width="35" height="35" />
                            </div>
                        </a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="user-options">
                            <li><a href="javascript:;" ng-click="login.logout()"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Sign Out</a></li>
                        </ul>
                        <!-- END OPTIONAL RECENT CHAT POP UP NOTIFICATION -->
                    </li>
                    <!-- END CHAT SIDEBAR TOGGLE -->
                </ul>
                <!-- END HEADER NAV BUTTONS -->
            </div>
            <!-- END HEADER RIGHT SIDE SECTION -->
        </div>
        <!-- END CONTENT HEADER -->
    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>